/configs/_base_/datasets/guowangtong512_Road.py
/bigdata512_build_20221104_use_guowangtong/
/bigdata512_build_20221109_base_use_guowangtong/
/bigdata512_build_20221109_no_use_guowangtong/
/GuoWangTong512_build_20221031/
/GuoWangTong512_Road_20221030/
/GuoWangTong512_small_data/
/output_bigdata512_20221110_build_base/
/output_bigdata512__20221109_build/
/output_bigdataToGuoWangTong__20221109_build/
/output_bigdataToGuoWangTong__20221109_build_base/
/output_bigdataToGuoWangTong__20221111_build_large/
/output_GuoWangTong512_20221107_road/
/output_GuoWangTong512__20221031/
/output_guowangtong_test_build_20221118/
/output_GuoWangTongTobigdata__20221111_build_large/
/pretrained/
/mmcv_custom/
/computer_index.py
/predict_120bigdata_build_512_base.py
/predict_guowangtong_build_512.py
/predict_guowangtong_road_512.py
/README.md
/train_guowangtong512.py
/train_guowangtong512_Road_hornet.py
/.idea/
/data/
/data_labels/
