# configs/_base_/datasets中的文件
/configs/_base_/datasets/guowangtong512_Road.py
/configs/_base_/datasets/gengdi512.py
/configs/_base_/datasets/mutilsize512.py

# configs/hornet中的部分文件
/configs/hornet/upernet_hornet_base_7x7_512_160k_gwt_build_base.py
/configs/hornet/upernet_hornet_base_7x7_512_160k_gwt_road_base.py
/configs/hornet/upernet_hornet_large_gf_512_160k_gengdi.py
/configs/hornet/upernet_hornet_large_gf_512_160k_mutilsize.py

# 权重
/bigdata512_build_20221104_use_guowangtong/*
/bigdata512_build_20221109_base_use_guowangtong/*
/bigdata512_build_20221109_no_use_guowangtong/*
/GuoWangTong512_build_20221031/*
/GuoWangTong512_Road_20221103/*

# 预训练权重
/pretrained/*

# 计算指标文件
/computer_index.py

# 解译文件
predict_120bigdata_build_512_base.py
predict_guowangtong_build_512.py
predict_guowangtong_road_512.py

# 训练文件
train_guowangtong512.py
train_guowangtong512_Road_hornet.py
train_mutil_size512.py

/1111.py
.idea/*
/README.md